* {
  box-sizing: border-box;
}

body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.container {
  display: flex;
  width: 50vw;

  justify-content: center;
}
.panel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  height: 60vh;
  width: 5vw;
  border-radius: 50px;
  flex: 0.5;
  position: relative;
  transition: flex 0.5 ease-out;
  cursor: pointer;
}
.panel.active {
  flex: 2.5;
}
